{% extends "base_admin.html" %}
{% load static %}
{% block title %}
Admin Panel
{% endblock %}

{% block content %}

{% comment %} <div class="container-fluid">
    <h1 class="text-center mb-4">User Management</h1>
    <table class="table table-hover table-bordered table-striped">
      <thead class="thead-light">
        <tr>
          <th><input type="checkbox" id="selectAll"></th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Age</th>
          
          <th>Status</th>
          <th>Wallet Balance</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for user in user %}
        <tr>
          <td><input type="checkbox"></td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>+91-{{ user.phone }}</td>
          <td>{{ user.age }}</td>
          <td>
            <button class="btn btn-success btn-sm toggle-status" data-user-id="1">{{ user.status }}</button>
          </td>
          <td>${{ user.wallet_balance }}</td>
          <td>
            <button class="btn btn-primary btn-sm">Edit</button>
            <button class="btn btn-danger btn-sm">Delete</button>
          </td>
        </tr>
        {% endfor %}
         </tbody>
    </table>
    <div class="d-flex justify-content-end my-4">
      <button class="btn btn-danger mx-2">Delete Selected</button>
    </div>
  </div> {% endcomment %}
  
  

{% endblock %}