{% extends "base_admin.html" %}
{% load static %}
{% block title %}
Admin Panel
{% endblock %}

{% block content %}

<div class="container mt-5 mb-5">
  <h1>Our Products</h1>
  <hr>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">  {% for product in products %}
      <div class="col">
        <div class="card h-100">
          <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
          <div class="card-body text-center">  <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description|truncatewords:20 }}</p>
            <div class="d-flex justify-content-center mt-3">
              <span class="text-muted">₹{{ product.price }}</span>
              <a href="{% url 'product_detail' product.id %}" class="btn btn-primary btn-sm mx-2">View Details</a>
              <a href="{% url 'add_variant' product.id %}" class="btn btn-secondary btn-sm">Add Variant</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <nav aria-label="Page navigation">
    </nav>

</div>
{% endblock %}
