{% extends "base.html" %}
{% load static %}
{% block title %}
Home
{% endblock %}

{% block content %}

<section class="banner-section m-3">
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'images/banners/1.jpg' %}" class="d-block w-100" alt="Banner 1">
      </div>
      </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      {% for c in cat %}  
        <div class="col-md-2 " >
          <div class="card h-100 d-flex align-items-center justify-content-center" style="width: 150px; height: 900px;">
            <img src="{{ c.image.url }}" class="card-img-top img-fluid" alt="{{ category.name }}">
            <div class="card-body text-center">
              <h6 class="card-title">{{ c.name }}</h6>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>



            


    




{% endblock %}
