{% extends "base.html" %}
{% load static %}
{% block title %}
Home
{% endblock %}

{% block content %}


<section class="product-showcase mt-5 mb-5">
  <div class="container">
    <div class="row g-4"> {% for variant in variants %}
      <div class="col-md-3 col-sm-6">
        <a href="{% url 'product_details' variant.id %}" class="card h-100 " style="width: 250px;">
          <img src="{{ variant.image.url }}" class="card-img-top" alt="{{ variant.product.name }}">
          <div class="card-body">
              <h5 class="card-title">{{ variant.product.name }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">
                  {{ variant.product.category }}
              </h6>
              <p class="card-text">
                  ₹{{ variant.product.price }} <span class="text-warning">({{ variant.product.discount_percentage }}% off)</span> <br>
                  <i class="bi bi-star-fill"></i> {{ variant.product.rating }}
              </p>
              
          </div>
      </a>
      </div>
      {% endfor %}
    </div>

  </div>
</section>



{% endblock %}