{% extends "base.html" %}

{% block content %}

<div class="container">
  <h1 class="mb-4">Checkout</h1>

  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title mb-4">Order Summary</h2>
          <ul class="list-group">
            {% for item in cart_items %}
            <li class="list-group-item">
              <img src="{{ item.product.image.url }}" alt="{{ item.title }}" class="img-thumbnail mr-2" style="width: 50px;">
              {{ item.title }} x {{ item.quantity }} - ₹{{ item.sub_total }}
            </li>
            {% endfor %}
            <li class="list-group-item d-flex justify-content-between">
              <div id="totalAmount" class="mb-3">
                <label>Total Amount:</label>
                <span>₹{{ total_price }}</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title mb-4">Shipping and Payment Details</h2>
          <form method="post">
            {% csrf_token %}
            <div class="mb-3">
              <label for="shipping_address" class="form-label">Shipping Address:</label>
              <select id="shipping_address" name="shipping_address" class="form-select">
                {% for address in addresses %}
                <option value="{{ address.id }}">{{ address.street }} {{ address.city }} {{ address.state }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="mb-3">
              <label for="payment_type" class="form-label">Payment Method:</label>
              <select id="payment_type" name="payment_type" class="form-select">
                {% for type in payment_types %}
                <option value="{{ type }}">{{ type }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="mb-3 input-group justify-content-center">
              
              
              <input type="text" id="coupon_code" name="coupon_code" class="form-control" placeholder="Enter your coupon code">
              <button type="button" id="apply_coupon" class="btn btn-secondary">Apply Coupon</button>
            </div>
          </form>
          <div id="paymentButtonContainer" class="mb-3">
            <button type="submit" id="completePaymentButton" class="btn btn-primary" style="display: none;">Complete Payment</button>
            <button id="placeOrderButton" class="btn btn-primary" type="submit">Place Order</button>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>




<script>
  $(document).ready(function () {
      
    $("#apply_coupon").click(function () {
        
        var couponCode = $("#coupon_code").val();
        
        // Assuming you have a 'total_amount' ID for the span containing the total amount
        var total = parseFloat($("#totalAmount span").text().replace('₹', ''));
        console.log(couponCode);
        console.log(total);
        
        $.ajax({
            type: "POST",
            url: "{% url 'apply_coupon' %}", 
            data: {
                csrfmiddlewaretoken: "{{ csrf_token }}",
                coupon_code: couponCode
            },
            success: function (response) {
                // Update the total amount on success
                $("#total_amount").text("₹" + response.total_amount);
            },
            error: function () {
                // Handle errors if needed
                alert("Error applying coupon. Please try again.");
            }
        });
    });
});

$(document).ready(function () {
  $("#payment_type").on("change", function () {
    var paymentMethod = $(this).val();
    if (paymentMethod === "Cash on Delivery") {
      $("#completePaymentButton").hide();
      $("#placeOrderButton").show();
    } else {
      $("#completePaymentButton").show();
      $("#placeOrderButton").hide();
    }
  });
});
</script>

{% endblock %}
