{% extends "base.html" %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}

{% load socialaccount %}


<div class="container-fluid vh-100 d-flex align-items-center justify-content-center">
  <div class="card rounded-3 shadow-sm">
    <div class="card-body">
      <h2 class="text-center mb-4">Welcome Back!</h2>
      <form method="POST" id="loginForm">
        {% csrf_token %}
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
          <i class="fas fa-user fa-fw"></i>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
          <i class="fas fa-lock fa-fw"></i>
        </div>
        <button type="submit" class="btn btn-primary w-100">Send OTP</button>
      </form>
      <div class="text-center mt-3">
        <a href="{% provider_login_url 'google' %}" class="btn btn-google btn-block">
          <i class="fab fa-google fa-fw"></i> Login with Google
        </a>
      </div>
      
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong></strong> {{message}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
  {% endfor %}
    </div>

  </div>
</div>


{% endblock %}