{% extends "base.html" %}
{% load static %}

{% block title %}Sign Up{% endblock %}

{% block content %}

<div class="container ">
  <h2 class="text-center mb-4">User Registration</h2>
  {% if messages %}
  <div class="messages-container">
    {% for message in messages %}
      <div class="{% if message.tags %}alert alert-{{ message.tags }}{% endif %}">
        {{ message }}
      </div>
    {% endfor %}
  </div>
{% endif %}
<div class="container">

  <form method="post">
      {% csrf_token %}
      <div class="mb-3">
          <label for="username" class="form-label">Username:</label>
          <input type="text" class="form-control" id="username" name="username">
      </div>
      <div class="mb-3">
          <label for="email" class="form-label">Email:</label>
          <input type="email" class="form-control" id="email" name="email">
      </div>
      <div class="mb-3">
          <label for="phone" class="form-label">Phone:</label>
          <input type="tel" class="form-control" id="phone" name="phone">
      </div>
      <div class="mb-3">
          <label for="age" class="form-label">Age:</label>
          <input type="number" class="form-control" id="age" name="age">
      </div>
      <div class="mb-3">
          <label for="password1" class="form-label">Password:</label>
          <input type="password" class="form-control" id="password1" name="password1">
      </div>
      <div class="mb-3">
          <label for="password2" class="form-label">Repeat Password:</label>
          <input type="password" class="form-control" id="password2" name="password2">
      </div>
      <button type="submit" class="btn btn-primary mb-2">Register</button>
  </form>
</div>

{% endblock %}
